TELEGRAM_TOKEN=""
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-3.1-flash-lite"

# Adsgram Integration
ADSGRAM_BLOCK_ID=""
BASE_URL="https://your-domain.com"
PORT=8080
ADSGRAM_SECRET=""
ADSGRAM_API_TOKEN=""
